<script id="filters-template" type="text/x-handlebars-template">

    <div class="filters-view__result js-result"><h4 class="filters-view__title js-filters-title">Applied:</h4>
        <button class="filters-view__btn js-remove-all">Clear all</button>
    </div>
</script>
